<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner Page</title>
    <link rel="stylesheet" href="../static/ownerpage.css">
</head>

<body>
    <h1>Gallery</h1>
    <div id="gallery_box">



        <div id="items_inside_gallery_box">
            {% for product in object_list %}
            <a href="{{product.pk}}"> {{product.name}}</a>
              <p> Price: ${{product.cost}}</p>
              <p> Quantity: {{product.quantity}}</p>
                {% if product.image %}
              <img src="{{ product.image.url }}" alt="{{product.name}}" width="300px">
              {% endif %}
            <br>
            <br>



            {% endfor %}

    </div>






        {% for product in object_list%}

        <br>
        <br><br>

        {% endfor%}



</body>

</html>