html,
body {
    margin: 0;
    height: 100%;
}

#navigate {
    color: black;
    border: 2px outset black;
    font-size: 20px;
    background-color: black;
    /* border-radius: 10px; */
    /* height: 10%; */
    overflow: auto;


}
#search{
    float: right;
}
#submit{
    background-color: lightblue;
}
#contact_info{
    color:lightblue;
}
#owner_login{
    display: flex;
    float: right;
    color: lightblue;
    font-size: smaller;

}
#title{
    color: white;
    font-size: 60px;

}

#gallery_box {
    /* background-color: black; */
    padding: 40px;
    align-items: center;
    /* border: 5px outset black;
    height: 50%; */
    width: 100%;
    /* border-radius: 10px; */

    /* border: 5px outset black;
    background-color: lightgoldenrodyellow;
    height: 80%;
    width: 74%;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly; */
}

#owner_gallery_box {
    background-color: rgb(212, 124, 124);
    padding: 40px;
    align-items: center;
    /* border: 5px outset black;
    height: 50%; */
    width: 100%;
    /* border-radius: 10px; */

    /* border: 5px outset black;
    background-color: lightgoldenrodyellow;
    height: 80%;
    width: 74%;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly; */
}

#contact_box {
    border: 8px outset black;
    /* background-color: lightblue; */
    height: 80%;
    width: 25%;
    float: right;
    border-radius: 10px;
    text-align: center;
}

#items_inside_gallery_box {
    /* text-align: center; */
    /* background-color: lightgoldenrodyellow; */
    /* height: 80%;
    width: 100%; */
    /* border-radius: 10px; */
    /* overflow: auto; */
    display: flex;
    flex-flow: row wrap;
    gap: 200px 200px;
    align-items: stretch;

}

#product {
    align-items: center;
    width: 40%;
}

#add_page_body{
    color: black;
    text-align: center;
    background-color: white;
}
#contact_page_body{
    text-align: center;
}


